.container{
    display: flex;
    flex-direction: column;
    padding: 20px;

    .swiper{
        display: flex;
        overflow: hidden;
   
        .mySwiper{
            color:aliceblue;
        }

        .slide{
            img{
                width: 220px;
            }
        }

    }
}