@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&display=swap');

$fontTitle:"Genos", sans-serif;
$fontText: "DM Sans", sans-serif;

$font_title:36px;
$font_title_p:32px;

$font_size_1:28px;
$font_size_1p:24px;

$font_size_2:24px;
$font_size_2p:20px;

$font_size_p:18px;
$font_size_pp:16px;

$font_size_button:14px;