@use '../../src/Styles/_values.scss';
@use '../../src/Styles/_colors.scss';

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: values.$fontText;
  background-color: colors.$blue;
  color: colors.$white;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}