@use "../../../Styles/values";
@use "../../../Styles/colors";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: start;

    h1 {
        font-family: values.$fontTitle;
        margin-top: 20vh;
    }

    .user {
        display: flex;
        gap: 2.5vw;
    }

}