@use "../../styles/colors";

.container {
    width: 100%;

    .social {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            margin: 5px;
            display: flex;
            align-items: center;

            .icon {
                width: 20px;
                height: 20px;
                color: colors.$orangeLight;
                &:hover {
                    color: colors.$orange;
                }
            }
        }
    }
}