@use"../../../Styles/colors";

.container {
    display: flex;
    flex-direction: column;

    img {
        cursor: pointer;
        width: 100px;
        height: 100px;
        background-color: colors.$orange;
        border-radius: 50px;
        transform: scale(1);
        transition: transform 1.5s;

    }
    img:hover {
    transform: scale(1.1);

    }



    p {
        font-size: 1.2rem;
        text-align: center;
    }
}